.optionButton{
    display: flex;
    width: 100%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    span{
        font-size: 18px;
        margin-right: 10px;
        font-weight: 400;
        color: var(--primary);
    }
    .imgContainer{
        height:50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--secondary-light);
    }
}
