.taskChart_container{
    background: var(--white);
    border-radius: 10px;
    padding: 10px;       
    flex: 1;
    margin-top:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}