.Profile{
    display: flex;
    align-items: center;
    justify-content: left;
    .Profile_img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid var(--primary);
        overflow: hidden;
        margin-right: 10px;
        img{
            width: 100%;
            height: 100%;
            margin-top: 5px;
        }
    }
}